<div class="row border-bottom mt-2">
    <div class="col">
        <label class="control-label pt-2">Track Inventory</label>
        <p><small>Keep track of current inventory levels and know when to re-order before you run out.</small></p>
    </div>
    <div class="col">
        <div class="form-group">
            <div class="custom-control custom-switch pt-1 float-right">
                <input type="checkbox" class="custom-control-input" name="inventory" id="inventory" [(ngModel)]="inventory.track">
                <label class="custom-control-label" for="inventory"></label>
            </div>
        </div>
    </div>
</div>